.create-user-container {
    background-color: #2d2121; /* Dark background color */
    align-self: center;
    display: flex;
    flex-direction: column;
    color: #fff; /* Light text color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    min-width: 400px; /* Set width as needed */
    max-width: 1000px;
    width: auto; /* Allow width to adjust based on content */
    margin: 0 auto; /* Center align horizontally */
}

.app-container {
    background-color: #262758; /* Dark background color */
    min-height: 100vh; /* Minimum height of viewport */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff; /* Light text color */
}
.home-container{
  background-color: #1011256f;
  padding: 40px;
  height: 600px;
  min-width: 500px;
  max-width: 800px;
  width: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
}

.dashboard-container {
  background-color: #262758;
  display: flex;
  min-height: 100vh;
  color:#fff;
  flex-direction: column;
  align-items: center;
}

.dashboard-text-container{
  flex-direction: row;
  display: flex;
  background-color: #11125f;
  padding: 20px;
  border-radius: 20px;
}

.student-skills-container{
  flex-direction:column;
  display:flex;
  background-color: #11125f;
  width:40vw;
  max-width: 40vw;
  padding:20px;
  margin-top: 20px;
  border-radius: 20px;
}

.inputA {
    border: 1px solid #ccc; /* Basic border */
    border-radius: 5px; /* Rounded corners */
    padding: 5px; /* Adequate padding */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
    transition: box-shadow 0.3s, border-color 0.3s; /* Smooth transition */
  }
  
.inputA:focus {
outline: none; /* Remove default outline on focus */
border-color: #6a7eff; /* Highlight border color on focus */
box-shadow: 0 0 8px rgb(13, 44, 240); /* Enhanced box shadow on focus */
}

.dropdown {
    padding: 8px 12px; /* Adjust padding as needed */
    font-size: 16px; /* Adjust font size as needed */
    border: 1px solid #ccc; /* Basic border */
    font-size: 14.5px;
    border-radius: 4px; /* Rounded corners */
    background-color: #fff; /* Background color */
    color: #333; /* Text color */
    appearance: none; /* Removes default styling on macOS Safari */
  }
  
.dropdown:hover,
.dropdown:focus {
border-color: #0927e8; /* Highlight border color on hover and focus */
}

.submitButton {
    display: inline-block;
    padding: 10px 20px; /* Adjust padding as needed */
    font-size: 16px; /* Adjust font size as needed */
    font-weight: bold; /* Makes text bold */
    text-align: center; /* Centers text horizontally */
    text-decoration: none; /* Removes underline by default */
    cursor: pointer; /* Changes cursor to pointer on hover */
    border: none; /* Removes default border */
    border-radius: 4px; /* Rounded corners */
    background-color: #0056b3; /* Default button color */
    color: #fff; /* Text color */
    transition: background-color 0.3s ease; /* Smooth transition for background color */

}
  
  /* Hover and focus effects */
  .submitButton:hover,
  .submitButton:focus {
    background-color: #262758; /* Darker background color on hover/focus */
  }

  .navigationButton {
    display: inline-block;
    padding: 10px 20px; /* Adjust padding as needed */
    font-size: 30px; /* Adjust font size as needed */
    font-weight: bold; /* Makes text bold */
    text-align: center; /* Centers text horizontally */
    text-decoration: none; /* Removes underline by default */
    cursor: pointer; /* Changes cursor to pointer on hover */
    border: none; /* Removes default border */
    border-radius: 4px; /* Rounded corners */
    width: 300px;
    background-color: #4d0694; /* Default button color */
    color: #fff; /* Text color */
    transition: background-color 0.3s ease; /* Smooth transition for background color */

}
  
  /* Hover and focus effects */
  .navigationButton:hover,
  .navigationButton:focus {
    background-color: #262758; /* Darker background color on hover/focus */
  }


  .errorMessage {
    color: #ff7104
  }

  .popup {
    position: fixed; /* Position fixed to keep it overlaying on the page */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it appears on top of other elements */
    opacity: 0; /* Hidden by default */
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Smooth transition */
  }
  
  .popup.active {
    opacity: 1; /* Visible when active */
    visibility: visible;
  }
  
  .popup-content {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #11125c; /* Dark background color */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content to the top */
    align-items: center;
    color: #fff; /* Light text color */
    max-width: 600px; /* Maximum width of the popup */
    max-height: 80vh;
    overflow-y: auto;
    word-wrap: break-word; /* Break long words */
    white-space: pre-wrap; /* Preserve whitespace and wrap text */
    word-break: break-all; /* Break long words at arbitrary points */
}

.popup-content::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}
.popup-content::-webkit-scrollbar-track {
    background: #2c2f33; /* Background of the scrollbar track */
    border-radius: 10px; /* Rounded corners */
}
.popup-content::-webkit-scrollbar-thumb {
    background: #7289da; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners */
    border: 3px solid #2c2f33; /* Padding around thumb */
}



.tooltip-container {
  position: absolute;
  bottom: 5px; /* Position it below the icon */
  left: 30px; /* Center it horizontally */
  background-color: #111;
  color: #fff;
  padding: 5px;
  border-radius: 6px;
  z-index: 1;
  max-width:100px;
  white-space: nowrap;
}

.horizontal-line {
  border: none;
  border-top: 1px solid #ccc; /* Change the color and thickness as needed */
  margin: 20px 0; /* Adjust the spacing as needed */
}